.advantages {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #4c9dd0;
    text-align: center;
    color: #fff;
    .section-title {
        margin-bottom: 50px;
        color: inherit;
    }
}

.advantages-list {
    display: flex;
    li:not(:last-child) {
        border-right: 1px solid #55abe1;
    }
}

.advantages-item {
    padding-top: 95px;
    padding-bottom: 20px;
    position: relative;
    line-height: 1.5;
    font-size: 14px;
    max-width: 25%;
    flex: 0 0 25%;
    svg {
        width: 65px;
        height: 65px;
        top: 6px;
        left: 50%;
        fill: #fff;
        transform: translateX(-50%);
        position: absolute;
    }
}
