.header-info {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-nav {
    display: flex;
    align-items: center;
    .btn-decor {
        max-width: 210px;
        flex: 1 0 auto;
    }
}

.main-nav__menu {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    a {
        color: #313131;
        &:hover {
            color: $blueColor;
        }
    }
}

.header-basket {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-basket__icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    position: relative;
    border-radius: 50%;
    background-color: #e2eff8;
    flex: 0 0 40px;
    
    .basket {
        width: 16px;
        height: 16px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        fill: $blueColor;
    }
}

.basket-text__title {
    color: #0a2f18;
    font-weight: bold;
    text-transform: uppercase;
}

.basket-text__total {
    padding-right: 10px;
    position: relative;
    display: inline-block;
    color: #465a63;
    .ruble {
        width: 12px;
        height: 11px;
        right: -2px;
        top: 4px;
        fill: #465a63;
        position: absolute;
    }
}
