.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
    a {
        color: #fff;
        background-color: #2D8CC8;
        &:hover {
            background-color: #fff;
            color: #2D8CC8;
        }
    }
}

.pagination a, .pagination-current {
    width: 35px;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #2D8CC8;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pagination-current {
    background-color: #fff;
    color: #2D8CC8;
}

.pagination-more {
    width: 22px;
    height: 1px;
    background-color: #e6ecf0;
}

.pagination-page {
    margin-bottom: 20px;
    position: relative;
    font-size: 14px;
    color: #9e9e9e;
    display: flex;
    justify-content: space-between;
    li {
        background-color: #fff;
        &:first-child {
            padding-right: 15px;
        }
        &:last-child {
            padding-left: 15px;
        }
    }
    &::before {
        width: 100%;
        height: 1px;
        background-color: #eaf0f4;
        top: 50%;
        left: 0;
        z-index: -1;
        position: absolute;
        content: '';
    }
    svg {
        width: 15px;
        height: 15px;
        fill: #9e9e9e;
    }
    .prev {
        margin-right: 10px;
    }
    .next {
        margin-left: 10px;
    }
    a {
        color: inherit;
        &:hover {
            color: #303030;
            svg {
                fill: #303030;
            }
        }
    }
}
