.posts {
    margin-bottom: 45px;
    .col-lg-6 {
        margin-bottom: 30px;
    }
}

.post-item {
    border: 1px solid #eaf0f4;
    display: flex;
}

.post-media {
    max-width: 185px;
    margin-right: 45px;
    flex: 0 0 185px;
}

.post-content {
    padding: 35px 25px 30px 0;
    flex: 1 1 auto;
}

.post-title {
    margin: 0;
    padding: 0;
    font-weight: normal;
    a {
        font-size: 18px;
        color: #2d8cc8;
        border-bottom: 1px solid #d2e6f3;
        &:hover {
            border-bottom-color: transparent;
        }
    }
}

.post-text {
    margin: 20px 0;
    font-size: 14px;
    color: #303030;
}

.post-date {
    color: #9e9e9e;
    font-size: 12px;
}
