.useful-links {
    text-transform: uppercase;
    font-size: 16px;
    a {
        margin: 0 10px;
        height: 65px;
        line-height: 65px;
        padding: 0 35px;
        border-radius: 2px;
        display: inline-block;
        border: 1px solid #2d8cc8;
    }
}

.useful-links__blue {
    color: #fff;
    background-color: #2d8cc8;
    &:hover {
        color: #2d8cc8;
        background-color: #fff;
    }
}

.useful-links__light {
    color: #2d8cc8;
    background-color: #fff;
    &:hover {
        color: #fff;
        background-color: #2d8cc8;
    }
}
