@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/btn";
@import "common/form";
@import "common/checkbox-radio";
@import "blocks/not-found";
@import "blocks/header-top";
@import "blocks/header-info";
@import "blocks/home-slider";
@import "blocks/section-info";
@import "blocks/advantages";
@import "blocks/sidebar";
@import "blocks/footer";
@import "blocks/breadcrumbs";
@import "blocks/social";
@import "blocks/pagination";
@import "blocks/article";
@import "blocks/posts";
@import "blocks/basket";
@import "blocks/cart";
@import "blocks/order-processed";
@import "blocks/catalog-list";

.page header {
    margin-bottom: 40px;
}

header {
    box-shadow: 0 5px 5px rgba(#000, 0.05);
}

.two-strips {
    padding-left: 40px;
    position: relative;
    &::before {
        width: 13px;
        height: 1px;
        margin-top: -3px;
        top: 50%;
        left: 16px;
        position: absolute;
        background-color: $blueColor;
        box-shadow: 0 5px 0 $blueColor;
        content: '';
    }
}

.line-decor {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaf0f4;
}

.content {
    margin-bottom: 75px;
}

.main-content {
    font-size: 14px;
    @include clearfix;
}

.useful-links a {
    margin: 0 10px;
}

.contacts-data {
    padding: 40px 45px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .ui-field {
        width: 100%;
    }
    .ui-group {
        max-width: calc(100% / 2 - 15px);
        flex-basis: calc(100% / 2 - 15px);
    }
}

.contacts-data__title {
    width: 100%;
    margin-bottom: 20px;
    color: #303030;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.special-offers {
    padding-bottom: 10px;
    .catalog-list__item {
        flex-basis: 25%;
    }
}

.special-offers__all {
    padding-top: 10px;
    margin-bottom: 45px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    &::after {
        margin-left: 10px;
        border: 5px solid transparent;
        border-left-color: $blueColor;
        display: inline-block;
        content: '';
    }
}

.main-filters {
    padding: 20px;
    color: #303030;
    background-color: #fafafa;
}

.main-filters-block {
    margin-bottom: 25px;
    @include clearfix;
    .label-block {
        width: 50%;
        float: left;
    }
}

.filter_title {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    svg {
        width: 15px;
        height: 15px;
        fill: #303030;
    }
}

.expand-all {
    margin-top: 15px;
    padding-left: 23px;
    font-size: 12px;
    color: $blueColor;
    position: relative;
    cursor: pointer;
    line-height: 1;
    &::before, &::after {
        background-color: $blueColor;
        content: '';
        position: absolute;
    }
    &::before {
        width: 1px;
        height: 9px;
        top: 1px;
        left: 5px;
    }
    &::after {
        width: 9px;
        height: 1px;
        top: 5px;
        left: 1px;
    }
}

@media (min-width: 992px) {
    .fixed {
        position: fixed;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar-article__item {
        padding: 15px 10px 15px 10px;
    }
}

@media (min-width: 1200px) {
    .catalog-list__item-opened {
        .catalog-list__media {
            height: 0;
            margin-bottom: 0;
            opacity: 0;
        }
        .btn-blue {
            opacity: 1;
        }
        .property {
            height: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            opacity: 1;
            visibility: visible;
        }
    }
    
    .catalog-list__item-effect {
        overflow-y: visible;
        .catalog-list__media {
            opacity: 1;
            position: absolute;
            height: 100%;
            display: flex;
            box-shadow: -1px -1px 0 #eaf0f4, 0 1px 0 #eaf0f4, 1px 0 0 #fff;
        }
    }
}

@media (max-width: 1199px) {
    .search-field__btn {
        border-radius: 0 4px 4px 0;
        max-width: 50px;
        padding: 0;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 69px;
        flex: 1 0 50px;
    }
    .main-nav .btn-decor {
        width: 50px;
        span {
            display: none;
        }
    }
    .footer-production {
        columns: 2 10px;
    }
    .footer-support__list {
        li {
            padding-left: 0;
        }
        svg {
            display: none;
        }
    }
    .footer-support .btn-blue {
        padding: 0 5px;
    }
    .section-info__support-wrap {
        height: 100%;
        padding: 30px 10px;
    }
    .demonstrations-left__info {
        padding: 15px 10px 0;
    }
    .search-field {
        .ui-field {
            padding-left: 10px;
        }
        .search {
            display: none;
        }
    }
    .catalog-list__price .price {
        font-size: 18px;
        .ruble {
            width: 15px;
            height: 15px;
            top: 2px;
            fill: #303030;
        }
    }
}

@media (max-width: 992px) {
    .header-support {
        margin-top: 30px;
    }
    .section-info__support {
        display: none;
    }
    .catalog-list__item {
        padding: 15px;
    }
    .catalog-list__item .btn-blue {
        margin-top: 10px;
        opacity: 1;
    }
    .special-offers .catalog-list__item {
        flex-basis: calc(100% / 3);
    }
    .advantages {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .advantages-list {
        flex-wrap: wrap;
    }
    .advantages-item {
        padding-bottom: 0;
        max-width: 50%;
        flex: 50%;
        margin-bottom: 30px;
    }
    .main-content {
        margin-bottom: 50px;
    }
    .sidebar-block {
        padding-left: 0;
    }
    .footer-menu {
        margin-bottom: 40px;
    }
    .footer-support {
        padding-top: 40px;
    }
    .menu {
        left: auto;
        right: 0;
    }
    .sidebar-article {
        margin-bottom: 50px;
    }
    .article-meta {
        margin-bottom: 30px;
        display: flex;
        align-self: center;
    }
    .social {
        margin-left: 15px;
        display: flex;
        align-self: center;
        li:not(:last-child) {
            margin-right: 15px;
        }
    }
    .related-posts .col-lg-6 {
        margin-bottom: 30px;
    }
    
    .catalog-list-block {
        flex-basis: 50%;
    }
}

@media (max-width: 768px) {
    .search-field .ui-field {
        max-width: none;
    }
    .header-logo-nav {
        margin-bottom: 40px;
    }
    .main-nav__menu {
        display: none;
    }
    .demonstrations-left__info {
        width: 50%;
    }
    .special-offers .catalog-list__item {
        flex-basis: 50%;
    }
}

@media (max-width: 575px) {
    .header-support {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .header-support__phone {
        margin-bottom: 15px;
        padding-left: 0;
        max-width: 160px;
    }
    .header-support__btn {
        margin-left: 0;
    }
    .header-basket__icon {
        display: none;
    }
    .section-info__demonstrations {
        display: none;
    }
    .special-offers .catalog-list__item {
        flex-basis: 100%;
    }
    .advantages-item {
        max-width: 100%;
        flex: 100%;
    }
    .footer-production {
        padding-left: 20px;
        columns: 1;
    }
    .footer-bottom .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-developer {
        margin-left: 0;
        margin-top: 30px;
    }
    .header-support__phone .phone {
        display: none;
    }
    
    .posts .col-lg-6 {
        margin-bottom: 60px;
    }
    .post-item {
        border: 0;
        flex-direction: column;
        a {
            text-align: center;
        }
    }
    .post-media {
        max-width: none;
        margin: 0 auto;
        flex: none;
    }
    .post-content {
        padding: 15px 0 0 0;
    }
    .pagination li:not(:last-child) {
        margin-right: 5px;
    }
    .social li {
        width: 40px;
        height: 40px;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    .meta-data__number {
        font-size: 50px;
    }
    .breadcrumbs {
        li:last-child {
            display: none;
        }
    }
    h1, .h1 {
        @include font-size(24px);
    }
    .pagination-page {
        margin-bottom: 40px;
        font-size: 13px;
        li {
            &:first-child {
                padding-right: 5px;
            }
            &:last-child {
                padding-left: 5px;
            }
        }
    }
    .pagination-page svg {
        display: none;
    }
    .catalog-list {
        box-shadow: none;
    }
    .catalog-list-block {
        flex-basis: 100%;
        margin-bottom: 30px;
        padding: 0;
        box-shadow: none;
    }
}
