@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/btn";
@import "common/form";
@import "common/checkbox-radio";
@import "blocks/header-top";
@import "blocks/header-info";
@import "blocks/home-slider";
@import "blocks/section-info";

header {
    box-shadow: 0 5px 5px rgba(#000, 0.05);
}

.two-strips {
    padding-left: 40px;
    position: relative;
    &::before {
        width: 13px;
        height: 1px;
        margin-top: -3px;
        top: 50%;
        left: 17px;
        position: absolute;
        background-color: $blueColor;
        box-shadow: 0 5px 0 $blueColor;
        content: '';
    }
}

.btn-light {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border: 1px solid #4c9dd0;
}
