<footer>
    <div class="container">
        <div class="row">
            <div class="footer-menu col-lg-6">
                <h4 class="footer-title">Продукция</h4>

                <ul class="footer-production footer-menu__list list-unstyled">
                    <li><a href="#">Листообрабатывающее обор</a></li>
                    <li><a href="#">Металлорежущие станки</a></li>
                    <li><a href="#">Обработка труб и профилей</a></li>
                    <li><a href="#">Станки для арматуры</a></li>
                    <li><a href="#">Кровельные станки</a></li>
                    <li><a href="#">Для художественной ковки</a></li>
                    <li><a href="#">Станки портальной резки</a></li>
                    <li><a href="#">Холодное профилирование</a></li>
                    <li><a href="#">Заточные станки</a></li>
                    <li><a href="#">Строительное оборудование</a></li>
                    <li class="footer-menu__parent"><a href="#">Станки</a></li>
                    <li class="footer-menu__parent"><a href="#">Расходники и оснастка</a></li>
                    <li><a href="#">Б/У оборудование</a></li>
                    <li><a href="#">Расходники и оснастка</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4 class="footer-title">О компании</h4>
                <ul class="footer-production footer-menu__list list-unstyled">
                    <li><a href="#">Отзывы о Метастан</a></li>
                    <li><a href="#">Информация о компании</a></li>
                    <li><a href="#">Акционные предложения</a></li>
                    <li><a href="#">Сервисные условия</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Лизинг и кредит</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контактная информация</a></li>
                </ul>
            </div>
            <div class="footer-support col-lg-3">
                <img src="img/logo.png" alt="" class="footer-logo">

                <ul class="footer-support__list list-unstyled">
                    <li class="footer-phone">
                        <svg class="phone">
                            <use xlink:href="img/sprite.svg#phone"></use>
                        </svg>

                        <a href="tel:8 800 100 17 52" rel="nofollow" class="section-info__phone-number">8 800 100 17
                            52</a>

                        <div>Бесплатный звонок по России</div>
                    </li>

                    <li class="footer-location">
                        <svg class="location">
                            <use xlink:href="img/sprite.svg#location"></use>
                        </svg>

                        Россия, Московская область,
                        г. Королёв, Октябрьский
                        бульвар, 12, офис 329, 141077
                    </li>

                    <li class="section-info__envelope">
                        <svg class="envelope">
                            <use xlink:href="img/sprite.svg#envelope"></use>
                        </svg>

                        <a href="#">info@metastan.ru</a>
                    </li>
                </ul>

                <button class="btn btn-blue" data-toggle="modal" data-target="#callBack">ПЕРЕЗВОНИТЕ МНЕ</button>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div>
                © 2011-2017 Компания «Метастан» — Оборудование для обработки металла
            </div>
            <div class="footer-developer">Разработано <img src="img/logo-robomarketing.png" alt="robomarketing"></div>
        </div>
    </div>
</footer>
