@import "variables";
@import "mixin";

.btn {
    padding: 0;
    border: 0;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', "Helvetica Neue", Helvetica, sans-serif;
    
    &-blue {
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 4px;
        color: #fff;
        background-color: $blueColor;
        border: 1px solid $blueColor;
        &:hover, &:focus {
            color: $blueColor;
            background-color: #fff;
            border-color: #fff;
        }
    }
    
    &-decor {
        padding-left: 30px;
        position: relative;
        width: 210px;
        &::before {
            width: 4px;
            height: 4px;
            top: 14px;
            left: 13px;
            position: absolute;
            background-color: #fff;
            box-shadow: 7px 0 0 #fff, 7px 7px 0 #fff, 0 7px 0 #fff;
            transition: all 0.3s ease;
            content: '';
        }
        &:hover, &:focus {
            &::before {
                background-color: $blueColor;
                box-shadow: 7px 0 0 $blueColor, 7px 7px 0 $blueColor, 0 7px 0 $blueColor;
            }
        }
    }
    
    &-white {
        width: 160px;
        height: 55px;
        padding: 21px 0 0;
        background: #fff;
        box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.05);
        font-size: 16px;
        color: #390050;
        text-transform: uppercase;
        &:hover {
            color: #fff;
            background: #474CA6;
        }
    }
    &-arrow {
        padding: 0 19px 0 0;
        font-size: 15px;
        color: #390050;
        text-transform: uppercase;
        position: relative;
        &:hover {
            color: #474CA6;
            .double-arrow {
                fill: #474CA6;
            }
        }
        .double-arrow {
            width: 12px;
            height: 12px;
            top: 1px;
            right: 0;
            position: absolute;
            fill: #390050;
            transition: all 0.3s ease;
        }
    }
    &-default {
        width: 200px;
        height: 55px;
        padding-top: 5px;
        text-align: center;
        font-size: 16px;
        color: #390050;
        border: 1px solid #E6DDEE;
        letter-spacing: 0;
        background: #E6DDEE;
        text-transform: uppercase;
        box-shadow: 0 5px 18px rgba(0, 0, 0, 0.05);
        transition: all .3s ease;
        &:hover {
            background: #fff;
        }
    }
}
